<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/Content/Images/Logos/Neuroshock Logo v4 8-2020 4k .png" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeuroShock88</title>
    @Styles.Render("~/Content/Site.css")
    @Scripts.Render("~/Content/js/general.js")
</head>
<body>
    @RenderBody()
</body>
</html>
