@model NeuroSites.Areas.SuperFightGame.Default
@{
    NeuroSites.Areas.SuperFightGame.Default NewModel = NeuroSites.Models.PagesModel.ActiveModel;
}
@if (NewModel != null)
{
    <link rel="stylesheet" href="~/Content/Data/Themes/neuroshock88.com/CSS/SuperMonsterGame.css" />
    <script src="~/Content/Data/Themes/neuroshock88.com/JS/SuperMonsterGame.js"></script>
    <div class="SuperFightGame" id="superfight">
        <!--the game turn order is make it take it-->
        @if (NewModel.properties.TheGame.HasStarted)
        {
            <div class="topbanner">
                <div class="AdminStuffs"></div>
                <div class="deckscontainer">
                    <div class="whiteDeck"></div>
                    <div class="blackDeck"></div>
                </div>
                <div class="winnerstats"></div>
            </div>
            <div class="theboard">
                <table>
                    <tr>
                        <td class="section1">
                            <div>

                            </div>
                        </td>
                        <td rowspan="2">
                            <ul class="playerlist">
                                <li>
                                    <div class="playername">

                                    </div>
                                    <div class="playerscore">

                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td class="section2">
                            <div>

                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        }
        else
        {
            <h1 style="text-align:center; color: white;">WELCOME <br />to<br />SUPER FIGHT GAME!!!</h1>
            <div style="text-align:center; width: 100%; color: white;"><button class="btn" name="newGame">Start New Game</button><br/>Clicking this will remove all players and start over</div>
            <div class="main-menu">
                <div class="row">
                    @* Add New go here *@
                    <div class="newplayer">
                        <span><input type="text" name="newPlayerName" class="Input" /></span>
                        <span><button class="btn" name="addNewPlayer">Add New Player</button></span>
                    </div>
                    <button name="startGame">Start Game!</button>
                </div>
                <div class="row">
                    @* Players Go Here *@
                    <h2 style="text-align:center;">Waiting Room</h2>
                    <ul class="playerlist">
                    </ul>
                </div>
            </div>
        }
    </div>

}