@model NeuroSites.Areas.Footer.Default

<div class="header">
    <div class="header__logo-container">
        <div class="header__logo-small">
            <img src="" alt="Company Logo" />
        </div>
    </div>
    <div class="header__navigation-container">

    </div>
</div>