@model NeuroSites.Areas.Header.Default

<div class="header">
    <div class="header__logo-container">
        <div class="header__logo-container">
            <img class="header__logo-small" src="~/Content/Images/Logos/4k icon.png" />
        </div>
        <div class="header__navigation-container">
            <ul class="header__nav-list">
                <li><a href="#youtube">Youtube</a></li>
                <li><a href="#twitch">Twitch</a></li>
                <li><a href="#discord">Discord</a></li>
                <li><a href="#games">Games</a></li>
                <li><a href="/merch">Merch</a></li>
            </ul>
        </div>
    </div>
</div>