@model NeuroSites.Areas.Masthead.Default

    <div class="masthead">
        <div class="masthead__image">
            <img src="~/Content/Images/img/Neuroshock88 Banner LOGO ONLY 1440p.png" alt="Neuroshock's Logo" class="masthead__image-full" />
        </div>        
    </div>