@model NeuroSites.Areas.Affiliation.Default
@{
    NeuroSites.Areas.Affiliation.Default NewModel = NeuroSites.Models.PagesModel.ActiveModel;
}
@if (NewModel != null)
{
    <div class="affiliation" id="affiliation">
        <div class="affiliation__text-content">
            <p>Need to upgrade you equipment? <br />Shop with Redragon! <br /> <br /> Score 5% off by using code "NEURO" at checkout!<br /><br />  Click <a href="http://redragonshop.com/?aff=720" target="_blank">here</a> to get some quality merch now!</p>
        </div>
        <div class="affiliation__logo">
            <a href="http://redragonshop.com/?aff=720" target="_blank"><img src="~/Content/Images/Logos/Redragon-Logo-PNG-Red.png" /></a>
        </div>
    </div>

}