@model NeuroSites.Areas.Footer.Default

<div class="footer">
    <div class="footer__logo-container">
        <div class="footer__logo-small">
            <img src="" alt="Company Logo" />
        </div>
    </div>
    <div class="footer__navigation-container">

    </div>
</div>
