@model NeuroSites.Areas.Footer.Default

<div class="footer">
    <div class="footer__container">
        <p class="footer__branding" style="order: 1;">&copy; Neuroshock88 @(DateTime.Now.Year.ToString())</p><br />
        <p class="footer__branding" style="order: 2;">Website designed by Neuroshock88 - Please <a href="mailto:neuroshocksites@gmail.com">contact</a> for more information</p>
    </div>
</div>