@model NeuroSites.Areas.Footer.Default

<div class="footer">
    <div class="footer__container">
        <div class="footer__social-list-container" style="order: 1;">
            <p style="text-align:center;">Follow me on Social Media!</p>
            <ul class="footer__social-list">
                <li><a href="https://www.instagram.com/neuroshock88" target="_blank"><img src="~/Content/Images/Logos/pics-photos-instagram-logo-png-4.png" /></a></li>
                <li><a href="https://www.twitter.com/neuroshock_88" target="_blank"><img src="~/Content/Images/Logos/twitter-logo-2-1.png" /></a></li>
                <li><a href="https://www.facebook.com/neuroshock88" target="_blank"><img src="~/Content/Images/Logos/Facebook_Logo_(2019).png" /></a></li>
            </ul>
        </div>
        <p class="footer__branding" style="order: 2;">&copy; Neuroshock88 @(DateTime.Now.Year.ToString())</p><br />
        <p class="footer__branding" style="order: 3;">Website designed by Neuroshock88 - Please <a href="mailto:neuroshocksites@gmail.com">contact</a> for more information</p>
    </div>
</div>