@model NeuroSites.Areas.Youtube.Default

<div class="youtube" id="youtube">
    <div class="youtube__text-container">
        <div class="youtube__text-content">
            <a href="https://www.youtube.com/channel/UCUUtcYXyREvYElAQDB2Dp5Q">
                <img src="~/Content/Images/Logos/elegant-youtube-logo-12.png" class="youtube__logo">
            </a>
            <p >Check out more great clips like this on my <a href="https://www.youtube.com/channel/UCUUtcYXyREvYElAQDB2Dp5Q">YouTube Channel</a></p>
        </div>
    </div>
    <div class="youtube__video-container">
        @*<video preload="metadata" class="youtube__video" src="~/Content/Videos/Pummel Party Video 7-3-20.mp4" autoplay muted loop controls></video>*@
        <iframe style="height:100%; width:100%;position:absolute;" src="https://www.youtube.com/embed/atHCSe1XpE0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>